*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
.home{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: black;
    padding: 15px 100px;
    color: white;
    font-weight: 900;
}

.right_bar {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    padding: 15px 0;
}
.categories input {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: 800;
}

.categories input:hover {
    background-color: white;
    color: black;
}

.products {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
}

.product_card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    height: fit-content;
    border: 1px solid red;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 2px 2px 3px black, -2px -2px 3px black;
}

.buyBtn {
    background-color: yellow;
    width: fit-content;
    padding: 5px 25px;
    cursor: pointer;
    color: red;
    font-weight: 800;
    border: 2px solid red;
    border-radius: 7.5px;
}

.buyBtn:hover {
    background: white;
}

img{
    width: 100%;
    height: 100%;
}

.product_img {
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    transition-duration: 2s;
}
.product_img:hover {
     transform: scale(1.2);
     border: 1px solid black;
}

.cart {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 2px 3px;
    transition-timing-function: ease-in-out;
}

.cart:hover{
    background-color: rgba(0, 26, 128, 0.311);
    transform:scale(1.5);
}

.cartItems {
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    padding: 1px 7px;
    border-radius: 50%;
    border: 1px solid green;
}